datadog: {{
  key: '{datadog_key}',
}},
auth: {{
  baseUrl: '{auth_base_url}',
  adminUser: '{auth_admin_user}',
  adminPassword: '{auth_admin_password}',
  adminOtpSecret: '{auth_admin_otpsecret}',
}},
fireblocks: {{
  editorKey: '{fireblocks_editorkey}',
  signerKey: '{fireblocks_signerkey}',
  editorSecret: '{fireblocks_editorsecret}',
  signerSecret: '{fireblocks_signersecret}',
}},
redis: {{
  url: '{redis_url}',
  host: '{redis_host}',
  port: '{redis_port}',
  password: '{redis_password}',
}},