  database: {{
    username: '{username}',
    port: {port},
    database: '{database}',
    password: '{password}',
    host: '{host}',
    dialect: 'postgres',
    pool: {{
      max: 50,
      min: 0,
      acquire: 120000,
      idle: 10000,
    }},
  }},
